{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="">
    <div class="registration" style="background: url({% static 'images/regi2.jpg' %});">
       <div class="form" style="margin-top: 3rem">
        <div class="container">
            <div class="row justify-content-center">

               <div class="col-md-4">

                    <div class="custom_form login_form">
                        <div class="col-md-12 text-center ">
                            <div class="log_head">
                              <h2><i class="fas fa-users" style="margin-top: 2.5rem"></i></h2>
                            </div>
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-input my-2">
                                        {{form.email}}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-input my-2">
                                        {{form.password}}
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-input">
                                       <button type="submit" class=" btn-block submitBtn">Login</button>
                                    </div>
                                </div>
                                {% for message in messages %}
                                <div class="col-md-12 pt-2">
                                    {% if message.is_info %}
                                        <small id="messages1" style="color: red">{{message}}</small>
                                    {% else %}
                                        <small id="messages2" style="color: #fff">{{message}}</small>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <div class="col-md-12 pt-2">
                                    <small style="color: #fff;">
                                      Already have an account? <a class="ml-2" href="{% url 'register' %}">Signup here</a>
                                    </small>
                                  </div>
                                </div>
                            </div>
                        </form>

                   </div>
                    </div>
            </div>
        </div>
       </div>
    </div>
</section>

{% endblock %}