{% extends "base.html" %}
{% load static %}
{% block content %}
    <h2>You have been logged out!</h2>
    <div class="border-top pt-3">
       <a class="ml-2" href="{% url 'login' %}">Log in again</a>
    </div>
{% endblock content %}