{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class='content-section' style="margin-top:5rem;">
    <div class="col-md-8">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join Now!</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
        <button class="btn btn-info" type="submit">Sign Up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already have an Account? <a href="{% url 'login' %}">Log in</a></small>
    </div>
</div>
</div>
{% endblock content %}

