{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="">
    <div class="registration" style="background: url({% static 'images/regi2.jpg' %});">
       <div class="form">
        <div class="container">
            <div class="row justify-content-center">

               <div class="col-md-6">

                    <div class="custom_form">
                        <div class="col-md-12 text-center ">
                            <div class="all_h2">
                              <h2 style="color: #DAF7A6;">register here</h2>
                            </div>
                        </div>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{form.non_field_errors}}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.f_name.errors }}
                                        {{form.f_name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.l_name.errors }}
                                        {{ form.l_name }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.username.errors }}
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.email.errors }}
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.phone.errors }}
                                        {{ form.phone }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.address.errors }}
                                        {{ form.address }}
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.credit_card.errors }}
                                        {{form.credit_card}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.password1 }}
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-input my-2 fieldWrapper">
                                        {{ form.password2 }}
                                    </div>
                                    {% for error in forms.non_field_errors %}
                                        <p class="help is-danger" style="color: red">{{ error }}</p>
                                    {% endfor %}
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-input">
                                       <button type="submit" class=" btn-block submitBtn">Signup</button>
                                    </div>
                                </div>
                                <div class="col-md-12 pt-2">
                                    <small style="color: #fff;">
                                      Already have an account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
                                    </small>
                                  </div>
                                </div>
                            </div>

                        </form>
                   </div>
                    </div>
            </div>
        </div>
       </div>
    </div>
</section>

{% endblock %}