*{
    margin: 0;
    padding: 0;
    outline: 0;
}

body{

    font-family: 'raleway'!important;

}

a{
    text-decoration: none !important;
}

/* all h2/heading css */

.all_h2 h2{
    color:  #42d19b  ;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

/* all button css */

.all_button{
    display: inline-block;
}

.all_button a{
    position: relative;
    display: block;
    text-decoration: none !important;
    height: 40px;
    width: 160px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 36px;
    background-color: rgba(0, 0, 0, .6)  ;
    text-transform: uppercase;
    border-radius: 2px;
    color: #fff;
    border: 1px solid  #42d19b ;
    transition: .3s all;
    overflow: hidden;
    z-index: 1;
    margin-left: 5px;
}

.all_button a::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:  #42d19b ;
    z-index: -1;
    transform: scale(0);
    transition: .3s all;
}

.all_button a:hover::after{
    transform: scale(1);
}

.all_button a:hover{
    color: #fff;
    font-weight: 700;
}


.navbar{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 999;
    left: 0;
}
.custom_nav{
    width: 100% !important;
    background-color: #000 !important;
    padding: 0px !important;
    border-bottom: 1px solid  #42d19b;
    position: fixed !important;
}


#mynav ul li{
    padding: 15px  10px;

}
#mynav ul li a{
    position: relative;
    font-size: 14px;
    letter-spacing: 2px;
    color:  #42d19b ;
    font-weight: 400;
    transition: .3s all;
    border-radius: 2px;
    text-transform: uppercase;
    z-index: 1;

}

#mynav ul li .active{
    color: #fff  !important ;
}

#mynav ul li a:hover{
    color: #fff;
    
   
}

.navbar-toggler-icon{
    color: #000 !important;
}

 #mynav ul li a::after{
    position: absolute;
    content: '';
    height: 1px;
    width: 90%;
    left: 3px;
    bottom: 3px;
    background-color:  #42d19b  ;
    transform: scale(0);
    transition: .5s;
    z-index: -1;
    
} 



#mynav ul li a:hover::after{
    transform: scale(1) !important;
}
#mynav ul li a::before{
    position: absolute;
    content: '';
    height: 1px;
    width: 90%;
    left: 3px;
    top: 3px;
    background-color:  #42d19b  ;
    transform: scale(0) !important;
    transition: .5s;
    
}

#mynav ul li a:hover::before{
    transform: scale(1) !important;
    
}

#mynav ul li a span{
    color:  #42d19b ;
}




/* Search part css */
.search_part{
    width: 100%;
}



.search{
    position: relative;
    z-index: 99;
    width: 100% !important;
}

.srch_input{
    height: 38px !important;
    width: 100% !important;
    line-height: 38px !important;
    color: #fff;
    border-radius: 2px !important;
    padding: 25px 14px;
    background-color: rgba(0, 0, 0, .6);
    border:1px solid  #42d19b ;
}

.srch_btn{
    position: absolute;
    /* right: 16px; */
    right: 0;
    color: #42d19b !important;
    overflow: hidden !important;
    background-color: transparent;
    top: 0;
    border: none !important;
    padding: 0px 15px;
    margin-left: 10px;
    height: 100%;
    width: 100px !important;
    border-radius: 2px !important;
    transition: .5s all;
    overflow: hidden;

}

.srch_btn:hover{
    color: #fff !important;
    background-color: #42d19b  !important ;
}
    


/* Banner part css satrt */


.bg video{
    background-position: center !important;
    background-size: cover !important;
    height: 100vh !important;
    object-fit: cover !important;
    background-attachment: fixed !important;
    width: 100% !important;
}
.bg::after{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.content{
    position: absolute;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.slid_content{

    padding: 20px;
    text-align: justify;
    /* background-color: rgba(0,0,0,0.7); */
    border-radius: 2px;
}

.custom_content{
    margin-top: 50px !important;
    text-align: center !important;
}

.custom_content h5{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

.custom_content p{
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.slid_content h2{
    font-weight: 400;
    font-size: 35px;
    color: #fff;
    line-height: 55px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.slid_content h2 span{
    font-size: 45px;
    font-weight: bold;
    color:  #42d19b ;
}


/* Founder part css */
.founder_main{
    overflow: hidden;
}
.founder_main .founder_image{
    background-size: cover !important;
    height: 260px !important;
    width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    transition: .5s all !important;
}

.fonder_content:hover .founder_image{
    transform: scale(1.1);
}

.founder_social{
    background-color: #000;
    overflow: hidden;
}
.founder_social ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0px 2px;
    font-size: 14px;
    font-size: 20px;
    height: 40px !important;
    width: 40px !important;
    border-radius: 50%;
    background-color:  #42d19b ;
    line-height: 37px;
   
}








.founder_social ul li > a{
 color: #000;
 font-size: 14px;
 padding: 10px;
   
}


.founder_social h4{
    padding-top: 8px;
    color: #fff;
}

.fonder_content{
    border-radius: 2px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.75);
}

/* .fonder{
} */

/* deals part css */
.product_image {
    position: relative;
    margin: 8px 0px;

}

.product_image img{
    height: 300px;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    overflow: hidden;
}


.product_image  .overlay{
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.overlay .overlay_button{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px !important;
    transform: translate(-50%,-50%);
}

.overlay .overlay_button a{
    width: 140px !important;
}




.registration{
    height: 100vh !important;
    width: 100% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.custom_input{
    border: none !important;
    height: 58px !important;
    border-bottom: 1px solid #42d19b !important;
    overflow: hidden !important;
    background: rgba(0, 0, 0, 0) !important;
    background-repeat: no-repeat !important;
    color: #fff !important;
    border-radius: 2px !important;
}
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.form{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    z-index: 2;
}
.custom_form{
    padding: 25px 10px;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: rgba(0, 0, 0, .6);
    -webkit-box-shadow: -1px 0px 21px 2px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 21px 2px rgba(0,0,0,0.75);
box-shadow: -1px 0px 21px 2px rgba(0,0,0,0.75);
}

.submitBtn{
    background: transparent !important;
    border: 1px solid  #42d19b  !important;
    background-color:  #42d19b  !important;
    border-radius: 2px !important;
    color: #000;
    padding: 7px;
}

.backto-top{
    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:  #42d19b ;
    color: #000;
    line-height: 40px;
    text-align: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    display: none;
    z-index: 5;
}


.log_head{
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #000;
    top: -71px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.log_head h2{
    color: #01a9ba;
    line-height: 110px;

}

.login_form{
    border: 1px solid #000 !important;
    padding: 70px 20px;
}


/* user page css start */
.user_header h2{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #42d19b;
    letter-spacing: 1px;
}
.main_image{
    position: relative;
    overflow: hidden;
}
.main_image img{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: .5s all;
}

.overla_image{
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
    left: -60%;
    transition: .4s all;
}
.main_product:hover img{
    transform: scale(1.1);
}

.main{
    transition: .5s all;
}
.main:hover{
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}
.main_product:hover .overla_image{
    left: 0;
    
}

.click{
    position: absolute;
    top: 50%;
    right: -45px;
    transform: translate(-50%,-50%);
    height: 45px;
    width: 45px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    background-color:  #42d19b ;
    color: #fff;
    
}
.main_content p{
    display: inline-block;
    margin: 8px 5px;

}

.main_content .price_old{
    text-decoration: line-through;
    font-size: 14px;
    display: inline-block;
}

.main_content .price_new{
display: inline-block;
    color: brown;
    margin: 0px 5px;
}

button span{
    margin-left: 8px !important;
}

.ubtn{
    background-color:  #42d19b  !important;
    color: #fff !important;
    border: none !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
}

/* user banner part */

.user_bg{
    position: relative;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment:  fixed !important;
    height: 80vh !important;
    width: 100% !important;
}

.user_bg::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.banner_content{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
}

/* feature part start */

.feature_main{
    overflow: hidden;
    text-align: center;
    position: relative;
}

.feature_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color:  rgba(0, 0, 0, .5);
}
.feature_images a img{
    height: 250px;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    cursor: all-scroll;
    transition: .5s all;

}

.feature_image_hover:hover img{
    transform: scale(1.2);
}

.feature_content{
    width: 100%;
    margin-left: 0;
}
.feature_content .feature_button a{
    display: block;
    width: 300px;
}

.buy_button{
    position: absolute;
    height: 40px;
    line-height: 38px;
    width: 130px;
    background-color: #42d19b;
    color:  #fff ;
    border-radius: 2px;
    top: 50%;
    right: -130px;
    border: 1px solid  #42d19b ;
    transform: translate(-50%,-50%);
}
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}







