{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5 fonder" style=" background:url({% static 'images/regi2.jpg' %})">
  <div class="container" style="margin-top:1rem;">
    <div class="row justify-content-center pb-5">
      <div class="col-md-8 text-center ">
          <div class="all_h2">
            <h2> our Founders</h2>
          </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 mx-2 px-0 fonder_content">
        <div class="founder_main">
          <div class="founder_image" style="background: url({% static 'images/zehan.jpg' %});">
          </div>
        </div>
        <div class="founder_social text-center py-3">
          <h4>Zehan Karim</h4>
          <ul>
            <li class="fb"><a href="http://www.facebook.com/i.am.zehan"><i class="fab fa-facebook-square"></i></a></li class="fb" >
            <li class="in"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="ln"><a href=""><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 mx-2 px-0 fonder_content ">

        <div class="founder_main">
          <div class="founder_image" style="background: url({% static 'images/lake.png' %});">
          </div>
        </div>
        <div class="founder_social text-center py-3">
          <h4>Md Sowrov</h4>
          <ul>
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</section>
{% endblock %}