{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Banner Part -->
<section id="slider">
        <div class="bg">
            <video autoplay muted loop>
                <source src="{% static 'video/video.mp4' %}" type="video/mp4">
            </video>
            <div class="content">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12">
                            <div class="col-md-12 text-center">
                                <div class="search_part">
                                    <form action="" method="POST" class="search">
                                        <input type="text" placeholder="search for products.." class="srch_input">
                                        <button type="submit" class="srch_btn"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                                <div class="slid_content custom_content">
                                    {% if user.is_authenticated %}
                                    <h2>Welcome to <span>Maison !</span></h2>
                                    <h5>Delivering building material at your doorstep </h5>
                                    <p>Shop now !</p>
                                    {% else %}
                                    <h5>Delivering building material at your doorstep </h5>
                                    <p>Signup Or Login to shop now !</p>
                                    <div class="all_button">
                                        <a href="{% url 'register' %}">Signup</a>
                                    </div>
                                    <div class="all_button">
                                        <a href="{% url 'login' %}">Login</a>
                                  </div>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
               
                </div>
            </div>
        </div>
        </div>

       

</section>

<!-- Top deals part start -->


<section class="pt-5">
  <div class="container">

    <div class="row justify-content-center  pb-5">
      <div class="col-md-12 text-center ">
        <div class="all_h2">
          <h2>Our top deals</h2>
        </div>
    </div>
    </div>
    <div class="row justify-content-center">
     
      <div class="col-md-3 product_main">
        <div class="product_image">
          <img src="{% static 'images/Brick.jpg' %}" alt="">
          <div class="overlay">
            <div class="all_button overlay_button text-center">
              <a href="#">Buy now</a>
          </div>
          </div>
        </div>
        
      </div>
      <div class="col-md-3">
        <div class="product_image">
          <img src="{% static 'images/sand.jpg' %}" alt="">
          <div class="overlay">
            <div class="all_button overlay_button text-center">
              <a href="#">Buy now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="product_image">
          <img src="{% static 'images/cement.jpg' %}" alt="">
          <div class="overlay">
            <div class="all_button overlay_button text-center">
              <a href="#">Buy now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="product_image">
          <img src="{% static 'images/wire.jpg' %}" alt="">
          <div class="overlay">
            <div class="all_button overlay_button text-center">
              <a href="#">Buy now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="product_image">
          <img src="{% static 'images/switch.jpg' %}" alt="">
          <div class="overlay">
            <div class="all_button overlay_button text-center">
              <a href="#">Buy now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="product_image">
          <img src="{% static 'images/fan.jpg' %}" alt="">
          <div class="overlay">
            <div id="popupBtn" class="all_button overlay_button text-center button">
              <a href="#">Buy now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="product_image">
          <img src="{% static 'images/wire.jpg' %}" alt="">
          <div class="overlay">
            <div class="all_button overlay_button text-center">
              <a href="#">Buy now</a>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="product_image">
          <img src="{% static 'images/cement.jpg' %}" alt="">
          <div class="overlay">
            <div class="all_button overlay_button text-center">
              <a href="#">Buy now</a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<!-- Founder part start -->
<section class="py-5 fonder">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-8 text-center ">
          <div class="all_h2">
            <h2> our Founders</h2>
          </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 mx-2 px-0 fonder_content">
        <div class="founder_main">
          <div class="founder_image" style="background: url({% static 'images/zehan.jpg' %});">
          </div>
        </div>
        <div class="founder_social text-center py-3">
          <h4>Zehan Karim</h4>
          <ul>
            <li class="fb"><a href=""><i class="fab fa-facebook-square"></i></a></li class="fb" >
            <li class="in"><a href=""><i class="fab fa-instagram"></i></a></li>
            <li class="ln"><a href=""><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 mx-2 px-0 fonder_content ">

        <div class="founder_main">
          <div class="founder_image" style="background: url({% static 'images/lake.png' %});">
          </div>
        </div>
        <div class="founder_social text-center py-3">
          <h4>Md Sowrov</h4>
          <ul>
            <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
</section>

  <div class="backto-top">
    <i class="fas fa-arrow-up"></i>
</div>

{% endblock %}